/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* ==========================================================================
   Page Structure 
   ========================================================================== */

.main-container {
    min-width:950px; /* change to 100% for fluid width */ 
    min-height:780px;
    width:100%;
    height:100%;
    background: url('../img/mainBG.jpg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.content-container {
    display: block;
    min-width: 900px;
    width:80%;
    margin:20px auto;
    padding:20px;
    border-radius: 8px;
    border:2px solid #01a6c6;
    background-color: #fff;
}

header {
    display: block;
    width:75%;
    margin:0 auto;
    height:auto;
}

aside {
    display: inline-block;
    width:30%;
    height:auto;
}

aside .section-container {
    min-width:200px;
    width:90%;
    height:150px;
    margin:10px auto;
    border:1px solid #01a6c6;
}

.newsfeed-container {
    display: inline-block;
    float:right;
    width:70%;
    height:100%;
}

/* ==========================================================================
   Typography 
   ========================================================================== */

.username, .timestamp {
    text-decoration: none;
    color:#8899a6;
    font-style: italic;
    padding-right:10px;
}

.section-container p {
    font-weight: 200px;
   }

.self-accountinfo p {
    display: inline-block;
    margin:20px;
    font-size:20px;
}

.otheruser-alertbox p {
    margin:10px auto;
}

footer p {
    font-size: 12px;
    margin:5px;
}


/* ==========================================================================
   Sections
   ========================================================================== */

.user-button {
    display: inline-block;
    width:100px;
    height:45px;
    padding:10px;
    color:#fff;
    border:1px solid #fff;
    border-radius: 5px;
    background-color: #FF8C00;
}

.refreshPage-btn {
    background-color: #fff;
    display: inline-block;
    height:45px;
    margin-left: 10px;
    border:1px solid #FF8C00;
}

.refreshPage-btn img {
    display: inline-block;
    width:45%;
    height:auto;
    margin:auto;
}

.refreshFeed-btn {
    padding:0;
    font-size: 14px;
}

header .user-button {
    float:right;
    margin:40px 15px;
}

header #logo {
    width:40%;
    margin:20px 20px 20px 0;
    height:auto;
}

.self-userinfo img {
    display: inline-block;
    width:25%;
    height:auto;
    margin:10px;
    vertical-align: top;
}

.self-userinfo div {
    display: inline-block;
    width:60%;
}

.self-userinfo p {
    font-weight: bold;
}

#name,
#username,
#bio {
    display: block;
    margin:0 auto;
    font-weight: normal;
}

#bio {
    font-weight: bold;
    font-size: 16px;
    margin-top:10px;
    padding: 10px auto 0 auto;
}

.self-accountinfo {
    display: block;
    text-align: center;
}

.self-accountinfo p:nth-child(2) {
    margin: 5px;
    padding-left: 10px;
    font-size: 14px;
}

.otheruser-alertbox {
    text-align: center;
    padding:10px;
}

.otheruser-alertbox img {
    display: inline-block;
    width:50px;   
    margin:10px;
}

.self-tweet {
    margin:20px;
}

.self-tweet img {
    display:inline-block;
    width:8%;
    height:auto;
    margin:5px;
}

.self-tweet input {
    display: inline-block;
    width:50%;
    height:50px;
    padding-left: 10px;
    border-radius: 5px;
}

.newsfeed-tweets {
    max-height: 375px;
    min-width:425px;
    overflow: auto;
}

.tweet {
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom: 1px solid #E5E5E5;
}

.tweet:nth-child(even) {
    background-color: #f8f8f8;
}

.tweet .timestamp {
    font-size: 12px;
    float:right;
}

.tweet .message {
    display: block;
}

footer {
    text-align: center;
}

